/* body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: green; 
    color: white;
    font-size: 2rem;
    font-family: Arial, sans-serif;
    transition: background-color 0.5s ease;
} */
body, html, #screen {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    transition: background-color 0.5s ease;
}

body.green {
    background-color: white; /* Green light state */
    color: black;
}

body.red {
    background-color: red; /* Red light state */
    color: white;
}

#question, #editor {
    display: block;
    margin: 10px;
}

#editor {
    width: 80%;
    height: 200px;
    font-size: 16px;
    padding: 10px;
}

body.red #question, body.red #editor {
    display: none; /* Hide during red light */
}
